Source: s3fs-fuse
Priority: optional
Maintainer: Peter Lieverdink <ubuntu@cafuego.net>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               autotools-dev,
               build-essential,
               libcurl4-gnutls-dev,
               libxml2-dev,
               libfuse-dev,
               libgcrypt-dev,
               libgnutls-dev,
               pkg-config
Standards-Version: 3.9.6
Section: libs

Package: s3fs-fuse
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: s3fs allows you to mount an S3 bucket via FUSE.
 s3fs preserves the native object format for files, allowing use of
 other tools like s3cmd.
